*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primarycolor:
    --secondarycolor:
    --background-color: #FFFECA;
    --dark-color:
    --primary-text-color:
    --secundary-text-color:
    --main-font: "inter" , sans-serif;
    --large-text:
    --medium-text:
    --body-text:
    --large-text-weight:
    --medium-text-weight:
    --body-text-weight:
}

body {
    background-color: #FFFECA;
    font-family: "inter" , sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    color: #0000FF;
    padding: 1em;
}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.625;
}

h1 {
    color: #0000FF;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 44PX;
    /* margin-left: 39px; */
    /* margin-bottom: 30px;
    margin: 0; */
    padding-top: 0.70rem;
}

.logo {
    /* margin-left: 249px; */
    width: 10em;
    height: 10em;
    align-self: flex-end;
}

.img1 {
    display: block;
    width: 100%;
    /* margin-left: 39px; */
}

.container {
    /* margin-left: 112px; */
    overflow: hidden;
    margin: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.title-container {
    position: absolute;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    background-color: white;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

.text-container {
    color: #0000FF;
    background-color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    /* line-height: 29px; */
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 2rem;
}

h2 {
    color: #0000FF;
    /* margin-left: 130px; */
    margin-top: 110px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.facts-cijfers-list {
    /* display: inline-flex; */
    display: flex;
    flex-direction: column;
    /* padding: 5px 12px; */
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* margin-left: 130px; */
}

li {
    display: inline-flex;
    text-align: center;
    background-color: #FFE400;
    color: #0000FF;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 2em;
    margin-bottom: 1em;
}

span {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-right: 0.5em;
}

.title {
    color: #0000FF;
    font-weight: 700;
    font-style: normal;
    margin-left: 36rem;
    margin-bottom: 2rem;
}

.img2 {
    display: block;
    width: 100%;
    /* margin-left: 39px; */
}

.container2 {
    /* margin-left: 112px; */
    overflow: hidden;
    margin: auto;
}

.image-container2 {
    position: relative;
    width: 100%;
}

.title-container2 {
    position: absolute;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    background-color: white;
    color: #0000FF;
    bottom: 0;
    left: 0;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

.text-container2 {
    color: #0000FF;
    background-color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    /* line-height: 29px; */
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

.button {
    /* margin-left: 23px; */
    display: inline-block;
    /* width: 360px;
    height: 65px; */
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #0000FF;
    border-radius: 5px;
    margin-top: 1.5em;
}

.img3 {
    border-radius: 50%;
    margin-top: 2rem;
}

.interview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interview-title {
    align-self: flex-start;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #0000FF;
    margin-top: 10px;
    /* margin-left: 39px; */
}

.interview-text {
    align-self: flex-start;
    font-size: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    color: #222222;
    /* margin-left: 39px; */
}

.button2 {
    /* margin-left: 23px; */
    /* width: 360px;
    height: 65px; */
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #0000FF;
    border-radius: 5px;
    margin-top: 1.5em;
}



