*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primarycolor: #0000FF;
    --secondarycolor: #FFE400;
    --background-color: #FFFECA;
    --dark-color: #222222;
    --article-color: white;
    --main-font: "inter" , sans-serif;
    --large-text: 39px;
    --medium-text: 26px;
    --body-text: 16px;
    --large-text-weight: 700;
    --medium-text-weight: 400;
    --body-text-weight: 300;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
}

header {
    display: flex;
    flex-direction: column;
    color: var(--primarycolor);
    padding: 1em;
}

p {
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--body-text-weight);
    line-height: 1.625;
}

h1 {
    color: var(--primarycolor);
    font-size: var(--large-text);
    font-style: normal;
    font-weight: var(--large-text-weight);
    line-height: 44PX;
    /* margin-left: 39px; */
    /* margin-bottom: 30px;
    margin: 0; */
    padding-top: 0.70rem;
}

.logo {
    /* margin-left: 249px; */
    width: 10em;
    height: 10em;
    align-self: flex-end;
}

.img1 {
    display: block;
    width: 100%;
    /* margin-left: 39px; */
    margin-top: 1.5em;
}

.container {
    /* margin-left: 112px; */
    overflow: hidden;
    margin: auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.title-container {
    position: absolute;
    font-size: var(--medium-text);
    font-style: normal;
    font-weight: var(--medium-text-weight);
    background-color: var(--article-color);
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    color: var(--primarycolor);
    margin-top: 1.5em;
    line-height: 29px;
}

.text-container {
    color: var(--primarycolor);
    background-color: var(--article-color);
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--body-text-weight);
    /* line-height: 29px; */
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 2rem;
}

.facts-cijfers-list {
    /* display: inline-flex; */
    display: flex;
    flex-direction: column;
    /* padding: 5px 12px; */
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    /* margin-left: 130px; */
}

li1 {
    display: inline-flex;
    text-align: center;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    padding: 0.5em;
    font-size: var(--body-text);
    font-weight: var(--medium-text-weight);
    line-height: 30px;
    border-radius: 2em;
    margin-bottom: 1em;
}

span1 {
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--large-text-weight);
    margin-right: 0.5em;
}

.title {
    color: var(--primarycolor);
    font-weight: var(--large-text-weight);
    font-style: normal;
    /* margin-left: 36rem; */
    margin-bottom: 2rem;
    text-align: center;
}

.img2 {
    display: block;
    width: 100%;
    /* margin-left: 39px; */
}

.container2 {
    /* margin-left: 112px; */
    overflow: hidden;
    margin: auto;
}

.image-container2 {
    position: relative;
    width: 100%;
}

.title-container2 {
    position: absolute;
    font-size: var(--medium-text);
    font-style: normal;
    font-weight: var(--large-text-weight);
    background-color: var(--article-color);
    color: var(--primarycolor);
    bottom: 0;
    left: 0;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

.text-container2 {
    color: var(--primarycolor);
    background-color: var(--article-color);
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--body-text-weight);
    /* line-height: 29px; */
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}

.button1 {
    /* margin-left: 23px; */
    display: inline-block;
    /* width: 360px;
    height: 65px; */
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--medium-text-weight);
    text-decoration: none;
    color: var(--article-color);
    background-color: var(--primarycolor);
    border-radius: 5px;
    margin-top: 1.5em;
}

.img3 {
    border-radius: 50%;
    margin-top: 1.5em;
}

.interview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interview-title {
    align-self: flex-start;
    font-size: var(--medium-text);
    font-style: normal;
    font-weight: var(--large-text-weight);
    line-height: 30px;
    color: var(--primarycolor);
    margin-top: 1.5rem;
    /* margin-left: 39px; */
    padding-left: 2rem;
    padding-bottom: 0.5em;
}

.interview-text {
    align-self: flex-start;
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--body-text-weight);
    line-height: 35px;
    color: var(--dark-color);
    /* margin-left: 39px; */
    padding-left: 2rem;
}

.button2 {
    /* margin-left: 23px; */
    /* width: 360px;
    height: 65px; */
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    font-size: var(--body-text);
    font-style: normal;
    font-weight: var(--medium-text-weight);
    text-decoration: none;
    color: var(--article-color);
    background-color: var(--primarycolor);
    border-radius: 5px;
    margin-top: 1.5em;

}

.reis {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.college-titel {
    font-size: var(--medium-text);
    font-weight: var(--medium-text-weight);
    font-style: normal;
    color: var(--primarycolor);
}

.college-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.li3 {
    width: 50%;
}

.img {
    display: block;
    width: 10%;
    height: auto;
}

.form-border {
    background-color: var(--secondarycolor);
    overflow: hidden;
    margin: auto;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 10rem;
}

.title-form-border {
    color: var(--primarycolor);
    width: 349.241px;
    height: 115.423px;
    font-family: "Inter";
    font-size: var(--large-text);
    font-style: normal;
    font-weight: var(--large-text-weight);
    line-height: 60px;
}

.text-form-border {
    font-family: var(--main-font);
    font-size: var(--medium-text);
    font-style: normal;
    font-weight: var(--medium-text-weight);
    line-height: 36px;
    width: 347.945px;
    height: 76.324px;
    margin-top: 1rem;
}

.form-container{
    background-color: var(--article-color);
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 3;
    grid-row-end: span 8;
    margin-right: -1em;
    margin-left: 1em;
    padding: 1em;
    margin-top: 1.5em;
}

label {
    display: block;
    color: var(--primarycolor);
    margin-bottom: 1em;
    font-size: 1em;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    border-bottom: 0.1em solid;
    color: var(--primarycolor);
    font-size: var(--body-text);
    margin-bottom: 1em;
}

textarea {
    height: 10em;
    border-bottom: 0.15em solid;
    color: var(--primarycolor);
}

.button {
    border-radius: 20px;
    border: 0;
    color: aquamarine;
    cursor: pointer;
    padding: 10px 16px;
}

button:active {
    opacity: 0.8;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.popup.open {
    opacity: 1;
    z-index: 1;
    display: block;
}

.popup-text {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--dark-color);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.popup-text p {
    line-height: 24px;
    margin: 10px 0;
}

/* .felicitaties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5em;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    padding-top: 3rem;
    color: #0000FF;
} */

.felicitaties-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    /* margin-left: 2.59rem;
    margin-right: 1.44rem;
    margin-bottom: 8.75rem; */
}

li {
    border-left: 0.1em solid;
    color: var(--dark-color);
    padding: 1em;
    margin-bottom: 1em;
    font-size: var(--body-text);
    font-weight: var(--body-text-weight);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--large-text-weight);
    font-style: normal;
    font-size: var(--medium-text);
    color: var(--primarycolor);
    margin-top: 1.5em;
}

.felicitaties-footer p {
    color: var(--primarycolor);
}

span {
    display: inline-block;
    color: var(--dark-color);
}